<?xml version="1.0" encoding="UTF-8"?> <!-- 201620273 김영웅 -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
	<servlet>
		<servlet-name>book-list-servlet</servlet-name>
		<servlet-class>web.BookListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>book-list-servlet</servlet-name>
		<url-pattern>/book-list</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>check-sort-servlet</servlet-name>
		<servlet-class>web.CheckSortServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>check-sort-servlet</servlet-name>
		<url-pattern>/check-sort</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>check-book-servlet</servlet-name>
		<servlet-class>web.CheckBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>check-book-servlet</servlet-name>
		<url-pattern>/check-book</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>can-borrow-book-servlet</servlet-name>
		<servlet-class>web.CanBorrowBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>can-borrow-book-servlet</servlet-name>
		<url-pattern>/can-borrow-book</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>borrow-book-servlet</servlet-name>
		<servlet-class>web.BorrowBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>borrow-book-servlet</servlet-name>
		<url-pattern>/borrow-book</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>return-book-servlet</servlet-name>
		<servlet-class>web.ReturnBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>return-book-servlet</servlet-name>
		<url-pattern>/return-book</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>return-servlet</servlet-name>
		<servlet-class>web.ReturnServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>return-servlet</servlet-name>
		<url-pattern>/return</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>add-book-servlet</servlet-name>
		<servlet-class>web.AddBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>add-book-servlet</servlet-name>
		<url-pattern>/add-book</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>delete-book-servlet</servlet-name>
		<servlet-class>web.DeleteBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>delete-book-servlet</servlet-name>
		<url-pattern>/delete-book</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>delete-servlet</servlet-name>
		<servlet-class>web.DeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>delete-servlet</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>search-servlet</servlet-name>
		<servlet-class>web.SearchBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>search-servlet</servlet-name>
		<url-pattern>/search-book</url-pattern>
	</servlet-mapping>
	<error-page>
		<error-code>500</error-code>
		<location>/DBError.jsp</location>
	</error-page>
</web-app>