<?xml version="1.0" encoding="UTF-8"?> <!-- 201620273 김영웅 -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
	<servlet>
		<servlet-name>book-list-servlet</servlet-name>
		<servlet-class>web.BookListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>book-list-servlet</servlet-name>
		<url-pattern>/book-list</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>check-sort-servlet</servlet-name>
		<servlet-class>web.CheckSortServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>check-sort-servlet</servlet-name>
		<url-pattern>/check-sort</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>check-book-servlet</servlet-name>
		<servlet-class>web.CheckBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>check-book-servlet</servlet-name>
		<url-pattern>/check-book</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>can-borrow-book-servlet</servlet-name>
		<servlet-class>web.CanBorrowBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>can-borrow-book-servlet</servlet-name>
		<url-pattern>/can-borrow-book</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>borrow-book-servlet</servlet-name>
		<servlet-class>web.BorrowBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>borrow-book-servlet</servlet-name>
		<url-pattern>/borrow-book</url-pattern>
	</servlet-mapping>
</web-app>